{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | پنل مدیریت{% endblock %}

{% block branding %}
<div id="branding">
    <h1 id="site-name"><a href="{% url 'admin:index' %}">پنل مدیریت فروشگاه</a></h1>
</div>
{% endblock %}

{% block bodyclass %}{{ block.super }} unfold-custom-admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/admin-common.css' %}">
{% if request.resolver_match.url_name != 'index' %}
<link rel="stylesheet" href="{% static 'admin/css/admin-forms.css' %}">
{% if request.resolver_match.url_name != 'password_change' %}
<link rel="stylesheet" href="{% static 'admin/css/admin-models.css' %}">
{% endif %}
{% endif %}
{% endblock %}


